<h1>(自分の題名)</h1>
<h3>新規投稿ページ</h3>
<%= form_for(@tweet, :url => { controller:'tweets', action:'create'})do |f| %>
  <div class="field">
    <%= f.label :商品名 %>
    <%= f.text_field :name, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :詳細 %>
    <%= f.text_field :about, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :値段  %>
    <%= f.number_field :price, :size => 10 %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", tweets_path %>